// src/sass/my-library/_my-library-watched-body.scss
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.empty-wrapper {
  display: none;
  justify-content: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.empty-wrapper-dark{
  display: none;
  justify-content: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.empty-image {
  width: 100%;
}

.mylib-wrapper {
  padding-top: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.movie-card {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - (16px * 2)) / 3);
  }
}

.btn-clear-all{
    // position: absolute;
    // top: 0;
    // left: 50%;
    // transform: translate(-50%,0);
    display: block;
    margin: 0 auto;
    width: 148px;
    height: 42px;
    background-color: #FF6B01;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    &:hover{
        box-shadow: inset 0 0 10px 1px #db1b1b4d;
        text-shadow: 1px 2px 3px #000000, -1px -2px 3px #000;
    }
}
.film-list{
  width: 100%;
}

.btn-scroll {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff6b08;
  color: white;
  border: none;
  font-size: 26px;
  text-align: center;
}


