<div class="modal-container">
  <div class="modal-content">
    <button type="button" class="modal-close js-modal-close">
      <svg class="modal-close-icon" width="24" height="24">
        <!-- <use href="/src/images/icons.svg#icon-close"></use> -->
      </svg>
    </button>
    <div class="modal-body">
      <img src="#" alt="Название фильма" class="movie-image" />
      <div class="modal-description">
        <h2 class="modal-title">A FISTFUL OF LEAD</h2>

        <div>
          <ul class="film-description">
            <li>
              <span class="film-property-label">Vote / Votes</span>
              <span class="film-property-value"
                ><span class="film-property-bgVote">7.3</span> /
                <span class="film-property-bgVotes"> 1260</span></span
              >
            </li>
            <li>
              <span class="film-property-label">Popularity</span>
              <span class="film-property-value">100.2</span>
            </li>
            <li>
              <span class="film-property-label">Original Title</span>
              <span class="film-property-value">A FISTFUL OF LEAD</span>
            </li>
            <li>
              <span class="film-property-label">Genre</span>
              <span class="film-property-value">Western</span>
            </li>
          </ul>
        </div>
        <div class="movie-description">
          <p class="mov-desc-title">About</p>
          <p class="mov-desc-text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="modal-Btn">
          <button class="add-to-watched-Btn">add to Watched</button>
          <button class="add-to-queue-Btn">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
