<!-- <div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Команда разработчиков</h2>
      <button class="close-button">&times;</button>
    </div>
  </div>
</div> -->

<div class="overlay-team-modal is-hidden">
  <div class="modal-team">
    <button type="button" class="modal-team-close js-modal-team-close">
      <svg class="modal-team-close-icon" width="24" height="24">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-team-body">Команда разработчиков</div>
  </div>
</div>
