<div class="overlay-team-modal is-hidden">
  <div class="modal-team">
    <button type="button" class="modal-team-close js-modal-team-close">
      <svg class="modal-team-close-icon" width="24" height="24">
        <use href="/src/images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="team-modal__title">Наша команда</p>
    <div class="team-modal__cards">
      <ul class="team-list">
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Дмитро Миколайчук.jpg"
              alt="Тім Лід"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Дмитро</p>
              <p class="team-about">Team leader</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Олег Протасевич.jpg"
              alt="Скрам"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Олег</p>
              <p class="team-about">Scrum master</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <div class="team-img-cont">
              <img
                src="/src/images/Анастасія Горбенко.jpg"
                alt="Розробниця в листях"
                width="50"
                height="60"
                class="team-img"
              />
            </div>
            <div class="team-about-cont">
              <p class="team-name">Анастасія</p>
              <p class="team-about">Розробниця</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <div class="team-img-cont">
              <img
                src="/src/images/Вадим Опарій.jpg"
                alt="Креативний розробник"
                width="50"
                height="60"
                class="team-img"
              />
            </div>
            <div class="team-about-cont">
              <p class="team-name">Вадим</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Габріелла.jpg"
              alt="Усміхнена розробниця"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Габріелла</p>
              <p class="team-about">Розробниця</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Костянтин.jpg"
              alt="Детектів команди"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Костянтин</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Ліна Миргородська.jpg"
              alt="Розробниця в білому"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Ліна</p>
              <p class="team-about">Розробниця</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Олександр Гіль.jpg"
              alt="Серйозний розробник"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Олександр</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Олександр Лупу.jpg"
              alt="Бог модалок"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Олександр</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Сергій Доник.jpg"
              alt="Впевнений розробник"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Сергій</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
        <li class="team-card">
          <div class="team-card__img">
            <img
              src="/src/images/Олександр Горбенко.jpg"
              alt="Красавчік в тюльпанах"
              width="50"
              height="60"
              class="team-img"
            />
            <div class="team-about-cont">
              <p class="team-name">Олександр</p>
              <p class="team-about">Розробник</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
