.films {
  padding: 60px 0;
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and(min-width: 768px) {
    gap: 32px;
  }

  @media screen and(min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
  }
}

.film-item {
  width: 100%;

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and(min-width: 1280px) {
    flex-basis: calc((100% - 32px) / 3);
  }
}
.title-film {
  text-transform: uppercase;
}

.poster {
  width: 100%;
  display: block;
  transition: transform 300ms linear;

  &:hover {
    transform: scale(1.1);
  }
}

.thumb {
  overflow: hidden;
  margin-bottom: 8px;
}

.title-film,
.film-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--main-black-color);
}

span {
  color: var(--footer-icon-fill);
}

.rating {
  background-color: var(--footer-icon-fill);
  color: var(--main-white-color);

  border-radius: 5px;

  padding: 3px 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}
