.modal-container {
  //   display: none;

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fefefe;
  margin: 0 auto;
  padding: 40px 12px;
  border: 1px solid #888;
  width: 100%;
  max-width: 806px;
  max-height: 558px;

  @media screen and (max-width: 1023px) {
    max-width: 704px;
    max-height: 552px;
    padding: 40px 72px 40px 36px;
  }

  @media screen and (max-width: 767px) {
    max-width: 280px;
    max-height: 940px;
    padding: 48px 20px 40px 20px;
  }
}

.modal-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  fill: #ff6b01;
  text-decoration: none;
  outline: none;
}

.modal-body {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.movie-image {
  max-width: 357px;
  max-height: 478px;
  //   height: auto;
  // margin-bottom: 20px;

  @media screen and (max-width: 1023px) {
    max-width: 364px;
    max-height: 374px;
    margin-right: 68px;
  }

  @media screen and (max-width: 767px) {
    max-width: 240px;
    max-height: 357px;
    // margin-right: 68px;
  }
}

.modal-description {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35px / 30px);

  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;

  @media screen and (max-width: 1023px) {
    font-size: 20px;
    line-height: calc(23px / 20px);
  }
}

.movie-description {
  margin-top: 0;
  font-size: 18px;
}

.movie-info {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.movie-info li {
  margin-bottom: 10px;
  font-size: 16px;
}

.movie-info-details {
  display: flex;
}

.add-to-watched-Btn,
.add-to-queue-Btn {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16px / 12px);

  // display: flex;
  // align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #000000;

  padding: 14px 10px 12px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}

.watch-button .active {
  background-color: #ff6b01;
  border: none;
  color: #ffffff;
}

.modal-container.show {
  display: block;
}

.film-description {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.film-description li {
  display: table-row;
}

.film-property-label,
.film-property-value {
  display: table-cell;
  padding: 5px;

  font-weight: 500;
  font-size: 12px;
  line-height: calc(16px / 12px);

  align-items: left;
}

.film-property-label {
  color: #8c8c8c;

  padding-right: 83px;
  @media screen and (max-width: 1023px) {
    padding-right: 36px;
  }
}

.film-property-value {
  display: flex;

  color: #000000;
}

.film-property-bgVote {
  width: 36px;
  height: 16px;

  background: #ff6b01;
  border-radius: 5px;
  text-align: center;
  margin-right: 5px;
}

.film-property-bgVotes {
  width: 36px;
  height: 16px;

  background: #f7f7f7;
  border-radius: 5px;
  text-align: center;
  margin-left: 5px;
}

.movie-description {
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  margin-top: 20px;
}
.movie-description-title {
  line-height: calc(16px / 12px);

  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.movie-description {
  line-height: calc(20px / 12px);
}
