/* ***** Colors - Start ***** */
$black: #111;
$yellow: #fdb813;
$grey: #514e4b;
$white: #fff;
/* ***** Colors - End ***** */

/* ***** Global Styles - Start ***** */
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: "Poppins", sans-serif;
// }

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ***** Global Styles - End ***** */

/* ***** Specific Styles - Start ***** */
.container-theme {
  @extend %center;
//   height: 50%;
}
.switch {
  width: 60px;
  height: 110px;
display: flex;
align-items: center;
// width: 100%;
width: 70px;
height: 30px;
  padding-top: 2px;
  background-color: $grey;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.toggle-button {
  transform: scale(0.8);
  transform-origin: center center;
}
.toggle {
  position: relative;
  width: 20px;
  height: 20px;
//   width: 35px;
//   height: 35px;
  margin: 12px;
  margin-top: 12px;
  background-color: $yellow;
  border-radius: 50%;
}
.moon-mask {
  position: absolute;
  width: 16px;
  height: 16px;
  margin: -74px 0 0 34px;
  background-color: $grey;
  border-radius: 50%;
}
.circles-wrapper {
  .circle {
    position: absolute;
    width: 3px;
    height: 6px;
    background-color: $white;
    border-radius: 10px;
    &:first-child {
        margin: -38px 0 0 20px;
    //   margin: -50px 0 0 27px;
    }
    &:nth-child(2) {
    //   margin: -9px 0 0 28px;
    margin: -12px 0 0 21px;
    transform: rotate(177deg);
    }
    &:nth-child(3) {
    //   margin: -32px 0 0 51px;
    //   transform: rotate(90deg);
    margin: -26px 57px 0 33px;
    transform: rotate(265deg);
    }
    &:nth-child(4) {
        // margin: -33px 0 0 4px;
        // transform: rotate(90deg);
        margin: -26px 0 0 7px;
        transform: rotate(90deg);
    }
    &:nth-child(5) {
      margin: -16px 0 0 10px;
      transform: rotate(45deg);
    }
    &:nth-child(6) {
        margin: -15px 0 0 30px;
        transform: rotate(320deg);
    //   margin: -14px 0 0 45px;
    //   transform: rotate(320deg);
    }
    &:nth-child(7) {
        margin: -34px 0 0 10px;
    transform: rotate(135deg);
    //   margin: -50px 0 0 10px;
    //   transform: rotate(135deg);
    }
    &:nth-child(8) {
        margin: -35px 0 0 30px;
        transform: rotate(225deg);
    //   margin: -50px 0 0 45px;
    //   transform: rotate(235deg);
    }
  }
}
// .text p {
//   margin-left: 5px;
//   font-size: 55px;
//   line-height: 1.1;
//   font-weight: 700;
// }
// .social-icons {
//   display: flex;
//   justify-content: space-between;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   width: 70px;
// }
/* ***** Specific Styles - End ***** */