$black: #111;
$yellow: #fdb813;
$grey: #514e4b;
$white: #fff;

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--body);
}

.modal-close-icon {
  fill: var(--second-color);
}

.choose {
  position: absolute;
  right: 0px;
  top: 7px;
}

.theme-container {
  position: relative;
  display: flex;
}
.changeTheme {
  cursor: pointer;
}
.click-btn {
  text-transform: uppercase;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  color: var(--change);
}

.modal-team-close {
  fill: var(--second-color);
}

.container-theme {
  @extend %center;
  position: absolute;
  right: 20px;
  bottom: -85px;

  transform: rotate(90deg) scale(0.6);
  @media screen and (min-width: 768px) {
    right: 32px;
  }
}

.switch {
  width: 60px;
  height: 110px;
  padding-top: 2px;
  background-color: $grey;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus {
    box-shadow: 0 0 5px 5px var(--change);
  }
}
.toggle-button {
  transform: scale(0.8);
  transform-origin: center center;
}
.toggle {
  position: relative;
  width: 35px;
  height: 35px;
  margin: 12px;
  margin-top: 12px;
  background-color: $yellow;
  border-radius: 50%;
}
.moon-mask {
  position: absolute;
  width: 35px;
  height: 35px;
  margin: -74px 0 0 34px;
  background-color: $grey;
  border-radius: 50%;
  // box-shadow: -15px -15px 0 0 red;
}
.circles-wrapper {
  .circle {
    position: absolute;
    width: 4px;
    height: 8px;
    background-color: $white;
    border-radius: 10px;
    &:first-child {
      margin: -57px 0 0 27px;
    }
    &:nth-child(2) {
      margin: -9px 0 0 28px;
    }
    &:nth-child(3) {
      margin: -32px 0 0 51px;
      transform: rotate(90deg);
    }
    &:nth-child(4) {
      margin: -33px 0 0 4px;
      transform: rotate(90deg);
    }
    &:nth-child(5) {
      margin: -14px 0 0 10px;
      transform: rotate(45deg);
    }
    &:nth-child(6) {
      margin: -14px 0 0 45px;
      transform: rotate(320deg);
    }
    &:nth-child(7) {
      margin: -50px 0 0 10px;
      transform: rotate(135deg);
    }
    &:nth-child(8) {
      margin: -50px 0 0 45px;
      transform: rotate(235deg);
    }
  }
}
