<div class="genre-container visually-hidden">
    <ul class="list-genre">
    <li class="item-genre"><button class="bta-genre" id="28">Action</button></li>
    <li class="item-genre"><button class="bta-genre" id="12">Adventure</button></li>
    <li class="item-genre"><button class="bta-genre" id="16">Animation</button></li>
    <li class="item-genre"><button class="bta-genre" id="35">Comedy</button></li>
    <li class="item-genre"><button class="bta-genre" id="80">Crime</button></li>
    <li class="item-genre"><button class="bta-genre" id="99">Documentary</button></li>
    <li class="item-genre"><button class="bta-genre" id="18">Drama</button></li>
    <li class="item-genre"><button class="bta-genre" id="10751">Family</button></li>
    <li class="item-genre"><button class="bta-genre" id="14">Fantasy</button></li>
    <li class="item-genre"><button class="bta-genre" id="36">History</button></li>
    <li class="item-genre"><button class="bta-genre" id="27">Horror</button></li>
    <li class="item-genre"><button class="bta-genre" id="10402">Music</button></li>
    <li class="item-genre"><button class="bta-genre" id="9648">Mystery</button></li>
    <li class="item-genre"><button class="bta-genre" id="10749">Romance</button></li>
    <li class="item-genre"><button class="bta-genre" id="878">Science Fiction</button></li>
    <li class="item-genre"><button class="bta-genre" id="10770">TV Movie</button></li>
    <li class="item-genre"><button class="bta-genre" id="53">Thriller</button></li>
    <li class="item-genre"><button class="bta-genre" id="10752">War</button></li>
    <li class="item-genre"><button class="bta-genre" id="37">Western</button></li>
    </ul>
  </div>