<div class="container-theme">
  <div class="switch">
    <div class="toggle-button">
      <div class="toggle"></div>
      <div class="moon-mask"></div>
      <div class="circles-wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <!-- <div class="text"> -->
    <!-- <p>n</p> -->
    <!-- <p>ff</p> -->
  <!-- </div> -->
</div>

<!-- Social Icons -->
<!-- <div class="social-icons">
  <a href="https://twitter.com/VisnuRavichand1" target="_blank">
    <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
  </a>
  <a href="https://dribbble.com/visnuravichandran" target="_blank">
    <img src="https://img.icons8.com/office/30/000000/dribbble.png" />
  </a>
</div> -->