<div class="container-theme">
  <div class="switch">
    <div class="toggle-button">
      <div class="toggle"></div>
      <div class="moon-mask"></div>
      <div class="circles-wrapper">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>