<header>
  <nav class="navigation">
    <a href="./index.html" class="logo">
      <svg class="logo__icon" width="24" height="24">
        <use href="#"></use>
      </svg>
      Filmoteka
    </a>
    <ul class="hero-list">
      <li class="hero-item">
        <a href="./index.html">Home</a>
      </li>
      <li class="hero-item">
        <a href="./partials/my-library.html">MY LIBRARY</a>
      </li>
    </ul>
    <form class="header__movie-search-form">
      <input
        type="text"
        name="movie-search-name"
        class="movie-search-form"
        required
        placeholder="Movie search"
      />
      <button type="submit" class="header__movie-search-button">
        <svg class="logo__icon" width="12" height="12">
          <use href=#></use>
        </svg>
      </button>
    </form>
    <div class="search-error-message visually-hidden"><p>Search result not successful. Enter the correct movie name and try again</p></div>
  </nav>
</header>
</header>
