<!-- src/partials/home/home-header.html -->

<header class="header">
  <div class="container">
    <!-- ../images/icons.svg#icon-film -->
    <nav class="navigation">
      <div class="navigation__titles">
        <a href="./index.html" class="logo link">
          <svg class="logo__icon" width="24" height="24">
            <use href="./images/icons-2.svg#icon-film"></use>
          </svg>
          <span class="logo_title">Filmoteka</span>
        </a>
        <ul class="hero-list list">
          <li class="link hero-item current">
            <a href="./index.html">Home</a>
          </li>
          <li class="link hero-item">
            <a href="./partials/my-library.html">MY LIBRARY</a>
          </li>
        </ul>
      </div>
    </nav>
    <include src="./partials/home/choose-theme.html"></include>
    <form class="header__movie-search-form">
      <div class="form-group">
        <div class="input-container">
          <input
            type="text"
            name="movie-search-name"
            class="movie-search-form"
            required
            placeholder="Movie search"
          />
          <button type="submit" class="header__movie-search-button">
            <svg class="button__icon" width="12" height="12">
              <use href="./images/icons-2.svg#icon-search-2"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="search-error-message visually-hidden">
        <p>
          Search result not successful. Enter the correct movie name and try
          again
        </p>
      </div>
    </form>
    <button class="choice-ganre">Choose Genre</button>
  </div>
</header>
