<!-- src/partials/home/home-body.html -->
<main>
  <section id="authentication">
    <br />
    <br />
    <br />
    <form id="login-form">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit" id="login-button">Log In</button>
      <p>Don't have an account? <button type="button" id="show-register-form">Sign up</button></p>
    </form>
    <form id="register-form" class="hidden">
      <label for="register-displayName">Display Name:</label>
      <input type="text" id="register-displayName" name="displayName" required />
      <label for="register-email">Email:</label>
      <input type="email" id="register-email" name="email" required />
      <label for="register-password">Password:</label>
      <input type="password" id="register-password" name="password" required />
      <button type="submit" id="register-button">Register</button>
    </form>
    <p class="hidden">Already have an account? <button type="button" id="show-login-form">Log in</button></p>
    <button id="logout-button" class="hidden">Logout</button>
  </section>
  <section class="films">
    <div class="container">
      <h1 class="visually-hidden">Films</h1>
      <ul class="film-list"></ul>
    </div>
  </section>
</main>
