<header class="lib-header">
  <div class="container">

      <div class="nav-wrapper">
        <a class="logo-link link" href="../index.html">
          <img src="../img/logo.svg" alt="Logo" width="24">
          <span class="prod-name">Filmoteka</span>
        </a>
      
        <nav>
          <ul class="nav-list">
            <li><a class="link" href="../index.html">Home</a></li>
            <li><a class="link current" href="./my-library.html">MY LIBRARY</a></li>
          </ul>
        </nav>
      </div>

      <ul>
        <li>
          <button class="lib-btn current" type="button" data-lib-btn="Watched">Watched</button>
        </li>
        <li>
          <button class="lib-btn" type="button" data-lib-btn="Queue">Queue</button>
        </li>
      </ul>

  </div>
</header>
