<!-- src/partials/my-library/my-library-header.html -->
<header class="lib-header">
  <div class="container">
    <div class="header-wrapper">
      <nav class="navigation">
        <div class="navigation__titles">
          <a href="../index.html" class="logo link">
            <svg width="24px" height="24px">
              <use href="../../images/icons.svg#icon-film"></use>
            </svg>
            <span class="logo_title">Filmoteka</span>
          </a>
          <ul class="hero-list list">
            <li class="link hero-item">
              <a href="../index.html">Home</a>
            </li>
            <li class="link hero-item current">
              <a href="./my-library.html">MY LIBRARY</a>
            </li>
          </ul>
        </div>
      </nav>
  
      <ul class="btn-list">
        <li>
          <button class="lib-btn current" type="button" data-lib-btn="Watched">WATCHED</button>
        </li>
        <li>
          <button class="lib-btn" type="button" data-lib-btn="Queue">QUEUE</button>
        </li>
      </ul>
    </div>
  </div>
</header>
