<!-- src/partials/my-library/my-library-watched-body.html -->
<main class="main-mylib">
  <div class="container">
    <button class="btn-clear-all">clear all</button>
    <div class="empty-wrapper">
      <img
        class="empty-image"
        src="../images/my-library/empty.jpg"
        alt="empty label"
      />
    </div>
    <div class="empty-wrapper-dark">
      <img
        class="empty-image"
        src="../images/my-library/emptyimg_dark-theme.png"
        alt="empty label"
      />
    </div>
    <div class="mylib-wrapper">
      <ul class="film-list"></ul>
    </div>
  </div>
</main>
